.modal-background {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  z-index: 50;
  background-color: rgba(32, 35, 41, 0.8);
  color: white;
}
