.loading-item {
  background-color: var(--black);
  position: relative;
  top: 0;
  max-width: 1024px;
  min-width: 100%;
  min-height: 62.39px;
  padding: 20px 50px;
  /*border: 2px var(--yellow) solid;*/
  border-radius: 10px;
  overflow: hidden;
  opacity: 0.5;
  animation: skeleton-loading 1s linear infinite alternate;
}

@keyframes skeleton-loading {
  0% {
    background-color: var(--yellow);
  }
  100% {
    background-color: var(--black);
  }
}
